body {
    font-family: "arial", sans-serif;
    background: #f2f2f2;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #222;
    margin-bottom: 30px;
    font-size: 32px;

}

table {
    width: 95%;
    margin: 0 auto;
    border-collapse: collapse;
    background: white;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    overflow: hidden;

}

th {
    background: #2c3e50;
    color: white;
    padding: 12px;
    font-size: 16px;
    text-align: center;
}

td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    font-size: 15px;
}

tr:nth-child(even) {
    background: #f8f8f8;
}

tr:hover {
    background: #e8f4ff;
    transition: 0.2s;
}

@media (max-width: 800px) {
    table {
        width: 100%;
        font-size: 14px;
    }

    td, th {
        padding: 8px;
    }

    h1 {
        font-size: 24px;
    }
}