#contatos {
    background: #f4f4f4;
    padding: 60px 20px;
    text-align: center;

}

#contato h1 {
    font-size: 30px;
    margin-bottom: 40px;
    color: #222;
    font-weight: 700;
}

.contato .bloco {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    background-color: #3f6259;
    border-radius: 12px;
    padding: 15px 20px;
    margin: 15px auto;
    max-width: 400px;
    text-decoration: none;
    color: white;
    box-shadow: 0 3px 10px rgba(0.0, 0.0, 0.0, 0.1);
    transition: transform .2s ease, box-shadow .2s ease;
}
.contato .bloco:hover {
  background-color: #333;
  transform: scale(-4px);
  box-shadow: 0 5px 18px rgba(0.0, 0.0, 0.0, 0.18);
}
.bloco img {
  width: 30px;
  height: 30px;
}

.whatsapp { filter: drop-shadow(0 0 5px #25D366); }
.instagram { filter: drop-shadow(0 0 5px #E1306C); }
.facebook { filter: drop-shadow(0 0 5px #1877F2); }

.bloco p {
  font-size: 18px;
  font-weight: bold;
}
.feedback {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

#feedback form {
  background-color: white;
  width: 100%;
  max-width: 850px;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0px 3px 12px rgba(0.0, 0.0, 0.0, 0.1);
  margin: 0 auto;
}
#feedback label {
  display: block;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 5px;
}

#feedback h2 {
  font: size 24px; ;
  margin-bottom: 20px;
  font-weight: 600;
}

#feedback input,
#feedback textarea:focus{
  border-color: 007bff;
}

#feedback button {
  padding: 12px 25px;
  background: #3f6259;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background .2s ease;

}

#feedback button:hover{
  background: #333;
}

@media (max-width: 600px){
  #contatos h1 {
    font-size: 22px;
  }

  .contato .bloco{
    width: 95%;
    padding: 12px 15px;
  }
}